
.chat-item {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: left;
    align-items: center;
    position: relative;
}

.chat-icon {
    margin-right: .5em;
    width: 3em;
    height: 3em;
    border-radius: 500rem;
    margin-bottom: 10px;
}

.chat-name {
    /*color: #00cc99;*/
    color: #009999;
    font-size: 1.1rem;
    font-weight: bold;
}
.chat-time {
    color: grey;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.last-message {
    color:grey;
    font-size: 1rem;
}

div.selected {
    background-color: #101010;
}

.notif-icon {
    margin:0 !important;
    font-size: 0.8em !important;
}